@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?ydda8g');
	src:url('../fonts/icomoon.eot?#iefixydda8g') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?ydda8g') format('truetype'),
		url('../fonts/icomoon.woff?ydda8g') format('woff'),
		url('../fonts/icomoon.svg?ydda8g#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pacman:before {
	content: "\e916";
}
.icon-spinner10:before {
	content: "\e983";
}
.icon-lab:before {
	content: "\e9aa";
}
.icon-happy:before {
	content: "\e9df";
}
.icon-happy2:before {
	content: "\e9e0";
}
.icon-smile:before {
	content: "\e9e1";
}
.icon-smile2:before {
	content: "\e9e2";
}
.icon-tongue:before {
	content: "\e9e3";
}
.icon-tongue2:before {
	content: "\e9e4";
}
.icon-sad:before {
	content: "\e9e5";
}
.icon-sad2:before {
	content: "\e9e6";
}
.icon-wink:before {
	content: "\e9e7";
}
.icon-wink2:before {
	content: "\e9e8";
}
.icon-grin:before {
	content: "\e9e9";
}
.icon-grin2:before {
	content: "\e9ea";
}
.icon-cool:before {
	content: "\e9eb";
}
.icon-cool2:before {
	content: "\e9ec";
}
.icon-angry:before {
	content: "\e9ed";
}
.icon-angry2:before {
	content: "\e9ee";
}
.icon-evil:before {
	content: "\e9ef";
}
.icon-evil2:before {
	content: "\e9f0";
}
.icon-shocked:before {
	content: "\e9f1";
}
.icon-shocked2:before {
	content: "\e9f2";
}
.icon-baffled:before {
	content: "\e9f3";
}
.icon-baffled2:before {
	content: "\e9f4";
}
.icon-confused:before {
	content: "\e9f5";
}
.icon-confused2:before {
	content: "\e9f6";
}
.icon-neutral:before {
	content: "\e9f7";
}
.icon-neutral2:before {
	content: "\e9f8";
}
.icon-hipster:before {
	content: "\e9f9";
}
.icon-hipster2:before {
	content: "\e9fa";
}
.icon-wondering:before {
	content: "\e9fb";
}
.icon-wondering2:before {
	content: "\e9fc";
}
.icon-sleepy:before {
	content: "\e9fd";
}
.icon-sleepy2:before {
	content: "\e9fe";
}
.icon-frustrated:before {
	content: "\e9ff";
}
.icon-frustrated2:before {
	content: "\ea00";
}
.icon-crying:before {
	content: "\ea01";
}
.icon-crying2:before {
	content: "\ea02";
}
.icon-point-right:before {
	content: "\ea04";
}
.icon-plus:before {
	content: "\ea0a";
}
.icon-minus:before {
	content: "\ea0b";
}
.icon-cross:before {
	content: "\ea0f";
}
.icon-google-plus:before {
	content: "\ea88";
}
.icon-instagram:before {
	content: "\ea90";
}
.icon-twitter:before {
	content: "\ea91";
}
.icon-feed3:before {
	content: "\ea95";
}
.icon-youtube3:before {
	content: "\ea99";
}
.icon-github:before {
	content: "\eab1";
}
.icon-github4:before {
	content: "\eab4";
}
.icon-linkedin:before {
	content: "\eac8";
}
.icon-chrome:before {
	content: "\eae5";
}
.icon-firefox:before {
	content: "\eae6";
}
.icon-IE:before {
	content: "\eae7";
}
.icon-opera:before {
	content: "\eae8";
}
.icon-safari:before {
	content: "\eae9";
}
.icon-bubble:before {
	content: "\e600";
}
.icon-lab2:before {
	content: "\e601";
}
