<section id="who">
	<h1 class="hidden">Who?</h1>

	<article>
		<h1>Roland Baldovino</h1>

		<p>Hi! Im a pinoy engineer who just loves interactivity, technology and animation. Technology has come a long way in the last few years and it just keeps on growing. From mobile applications to modern web technologies, keeping up on what's new and what's cool just excites me.</p>

		<p>Currently working as Tech Lead in TBWA's Digital Arts Network, my responsibilities include managing both internal and client technical requirements. Ensuring successful execution of all technical projects.</p>

		<p>For more info please follow me in any of the following:</p>

		<ul class="social">
			<li><a href="https://sg.linkedin.com/in/rolandbaldovino" target="_blank" class="icon-linkedin"><span>LinkedIn</span></a></li>
			<li><a href="https://twitter.com/wtfroland" target="_blank" class="icon-twitter"><span>Twitter</span></a></li>
			<li><a href="https://github.com/wtfroland" target="_blank" class="icon-github4"><span>github</span></a></li>
		</ul>
	</article>
</section>